openapi: 3.0.4
info:
  title: Trey Research Agent - Subset
  version: 0.0.0
  x-privacy-policy-url: https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement
  x-legal-info-url: https://docs.github.com/en/site-policy/github-terms/github-terms-of-service
  x-ai-description: 'You are a handy assistant for consultants at Trey Research, a boutique consultancy specializing in software development and clinical trials.'
servers:
  - url: https://wx1gq6fz-7071.asse.devtunnels.ms/api
paths:
  /me:
    get:
      description: Get consultant profile of the logged in user.
      operationId: getUserInformation
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                required:
                  - id
                  - name
                  - email
                  - phone
                  - location
                  - skills
                  - certifications
                  - roles
                  - consultantPhotoUrl
                  - projects
                  - forecastThisMonth
                  - forecastNextMonth
                  - deliveredLastMonth
                  - deliveredThisMonth
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
                    format: email
                  phone:
                    type: string
                  location:
                    required:
                      - street
                      - city
                      - state
                      - country
                      - postalCode
                      - latitude
                      - longitude
                    type: object
                    properties:
                      street:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                      postalCode:
                        type: string
                      latitude:
                        type: number
                        format: double
                      longitude:
                        type: number
                        format: double
                  skills:
                    type: array
                    items:
                      type: string
                  certifications:
                    type: array
                    items:
                      type: string
                  roles:
                    type: array
                    items:
                      type: string
                  consultantPhotoUrl:
                    type: string
                    format: uri
                  projects:
                    type: array
                    items:
                      required:
                        - projectName
                        - projectDescription
                        - projectLocation
                        - mapUrl
                        - role
                        - forecastThisMonth
                        - forecastNextMonth
                        - deliveredLastMonth
                        - deliveredThisMonth
                      type: object
                      properties:
                        projectName:
                          type: string
                        projectDescription:
                          type: string
                        projectLocation:
                          required:
                            - street
                            - city
                            - state
                            - country
                            - postalCode
                            - latitude
                            - longitude
                          type: object
                          properties:
                            street:
                              type: string
                            city:
                              type: string
                            state:
                              type: string
                            country:
                              type: string
                            postalCode:
                              type: string
                            latitude:
                              type: number
                              format: double
                            longitude:
                              type: number
                              format: double
                        mapUrl:
                          type: string
                          format: uri
                        role:
                          type: string
                        forecastThisMonth:
                          type: integer
                          format: int32
                        forecastNextMonth:
                          type: integer
                          format: int32
                        deliveredLastMonth:
                          type: integer
                          format: int32
                        deliveredThisMonth:
                          type: integer
                          format: int32
                  forecastThisMonth:
                    type: integer
                    format: int32
                  forecastNextMonth:
                    type: integer
                    format: int32
                  deliveredLastMonth:
                    type: integer
                    format: int32
                  deliveredThisMonth:
                    type: integer
                    format: int32
components: { }